@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
}   

body {
    height: 100vh;
    box-sizing: border-box;
    background-color: #000000;
    color: #F6F6F6;

}

strong {
    color: #22D4FD; 
}

.apresentacao {
    margin: 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.apresentacao__conteudo {
    width: 615px;
}

.apresentacao__conteudo__titulo {
    font-size: 36px;
    font-family: "Krona One", sans-serif; font-family: "Krona One", sans-serif;
}

.apresentacao__conteudo__texto {
    font-size: 20px;
    font-family: "Montserrat", sans-serif;
}

.apresentacao__links { /*classe de espaçamento dos botões */

    display: flex; /* toda vez que usar flexbox, é necessário usar o display:flex no elemento pai. No caso, é esse.*/
    justify-content: space-between;
}

.apresentacao__links__link { /*classe de estilização dos botões */
    background-color: #22d4fd;
    width: 280px; /* ajustar largura */
    text-align: center; /* alinhar texto*/
    border-radius: 16px; /* arrendodamento */
    font-size: 24px;
    padding: 21.5px 0; /* O primeiro valor inserido no padding é referente à horizontal, o segundo seria pra horizontal*/
    text-decoration: none; /* retirando o sublinhado do texto do botão */
    color: black;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
}